{% load static %}
<head>
  <!-- Place in your HTML file between the <head> tags -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <meta name="title" content="Betül Güney">
    <meta name="description" content="Betül Güney, çeşitli sanat galerileri ve sergilerine katkıda bulunmuş ressamdır. Betül Güney Resim Atölyesi'nde ders vermektedir.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Betül Güney, Sanat, Resim, Galeri, Atölye, Resim dersi, Seans, Boya, Renk">
    <title>Betül Güney</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="icon" type="image/x-icon" href="{% static '/image/art1.png' %}">
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link href='https://fonts.googleapis.com/css2?family=DM+Mono&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Della+Respira&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Antic&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Italiana&display=swap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></script>
    <!-- responsive style -->
    <link href="{% static '/css/responsive.css' %}" rel="stylesheet" />
    <script src="{% static '/js/custom.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
</head>

