{% load static %}


<div class="dropdown-ig">
    <ul>
        <li>
            <a href="tel:05057521755"><img src="{% static 'image/phone-ws.png' %}" class="image-footer-phone"  alt="phone"></a>
        </li>
        <li>
            <a><img src="{% static 'image/insta-website.png' %}" class="image-footer-ig" alt="instagram">
            <ul class="dropdown-ft">
                <li><a href="https://www.instagram.com/betulguney.art/" target=”_blank” >BETÜL GÜNEY</a></li>
                <hr style="line-height: 1px; background-color:  black; width: 80%; margin-top: 0; margin-bottom: 0;">
                <li style="line-height: 18px; margin-top: 8px; font-size:17px;"><a href="https://www.instagram.com/betulguney.artstudio/" target=”_blank”>BETÜL GÜNEY <br> RESİM ATÖLYESİ</a></li>
            </ul></a>
        </li>
        <li>       
             <a href="mailto:betulguney35@gmail.com"><img src="{% static 'image/mail-ws.png' %}" class="image-footer-mail" alt="mail"></a>
        </li>
    </ul>
</div>

<div>
    <p class="footer_cr" >© Copyright 2023 Betül Güney</p>
</div>
