{% include 'partials/base.html' %}
{% load static %}
<body>
  <div class="scrollTop" onclick="scrollToTop()"><img src="{% static 'image/chevron-up-solid.png' %}" alt="" style="width: 30px;height: 30px;"></div>

  <nav class="navbar navbar-expand-lg navbar-success">
    <a class="navbar-brand" href="{% url 'home' %}">
      <p class="header_title">BETÜL GÜNEY</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><img src="{% static 'image/menu-2.png' %}" alt=""></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item {% if navbar == 'home' %} active {% endif %}">
          <a class="nav-link" href="{% url 'home' %}">ana sayfa</a>
        </li>
        <li class="nav-item {% if navbar == 'about' %} active {% endif %}">
          <a class="nav-link" href="{% url 'biyografi' %}">BİYOGRAFİ</a>
        </li>
        <li class="nav-item {% if navbar == 'blog' or navbar == 'admin_media_detail' %}  active {% endif %}">
          <a class="nav-link" href="{% url 'calismalar' %}">
            ÇALIŞMALAR
          </a>
        </li>
        <li class="nav-item {% if navbar == 'resim-atolyesi' %} active {% endif %}" >
          <a class="nav-link" href="{% url 'resim-atolyesi' %}">
            RESİM ATÖLYESİ
          </a>
        </li>
        <li class="nav-item {% if navbar == 'contact' %} active {% endif %}">
          <a class="nav-link" href="{% url 'iletisim' %}">İLETİŞİM</a>
        </li>
      </ul>
    </div>
  </nav>
