{% include 'partials/nav.html' %}
{% load static %}

<div class="card mb-3 mt-1 mb-2" style="width: 75%; margin-right: auto;margin-left: auto; border: none;">
    <div class="row offset-md-12">
        <div class="col-md-12">
            <img src="{% static 'image/bg-cv3.jpg' %}" alt="img" style="width: 100%;">
        </div>
    </div>
</div>
<hr style="line-height: 2%; width: 80%; margin-top: 0; margin-bottom: 20px; border-top:#7a949d dashed 2px">

<div style="text-align: center; font-family: 'Della'; color: black; font-size: 10px;">
    <h3>
        İzmir, <span style="color: #416c7d;">1975</span>
    </h3>
    <br>
    <h3 style="color: #416c7d;">
        Eğitim
    </h3>
    <h5 >
        2001 - 1997 Dokuz Eylül Üniversitesi 
        <h5>Güzel Sanatlar Fakültesi/İzmir</h5>
    </h5>
    <h5>
        1993 - 1990 Buca Lisesi/İzmir
    </h5>
    <hr style="line-height: 2%; width: 80%; margin-top: 0; margin-bottom: 20px; border-top:black dashed 2px">
</div>

<div style="font-family: 'Yeseva' ; color: black;">
    <p style="text-align: center; margin-left: 0; font-size: 35px; color: #7a949d;">
        KATILDIĞI SERGİLER
    </p>
    <hr style="line-height: 2%; width: 80%; margin-top: 0; margin-bottom: 20px; border-top:black dashed 2px">
    <div class="about-partials">
        <p>
            <span style="color: #416c7d;">2018</span> - Galeri A / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2017</span> - Kişisel Resim Sergisi / Konak Sanat Galerisi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2016</span> - Kedi Sanat Galerisi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2016</span> - Kedi Sanat Galerisi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2011</span> - Karma Sergi / C.A.M. Galeri / İSTANBUL
        </p>
        <p>
            <span style="color: #416c7d;">2010</span> - 10.Yıl Kasa / İSTANBUL
        </p>
        <p>
            <span style="color: #416c7d;">2009</span> - Karma Sergi - Sanayi Odası / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2009</span> - Karma Sergi - Galeri Akademist / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2007</span> - Galeri Akademist / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2006</span> - "25.Günümüz Sanatçıları İstanbul Sergisi" Akbank / İSTANBUL
        </p>
        <p>
            <span style="color: #416c7d;">2006</span> - Sergi - K2 Sanat Merkezi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2005</span> - Karma Sergi - Galeri Akademist / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2004</span> - "üstü değil kendisi" Sergi K2 Sanat Merkezi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2004</span> - Kişisel Resim Sergisi, İletişim Sanat Galerisi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2002</span> - "Asya Yakası Galeriler Buluşuyor" M.Ü.G.S.F Sanat Galerisi / İSTANBUL
        </p>
        <p>
            <span style="color: #416c7d;">2001</span> - Kişisel Resim Sergisi, Adnan Franko Sanat Galerisi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2001</span> - Karma Resim Sergisi, Resim Heykel Müzesi / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">2001</span> - "Geleceğe Esintiler" Sergisi, Kasa Galeri / İSTANBUL
        </p>
        <p>
            <span style="color: #416c7d;">2001</span> - 62.Resim ve Heykel Yarışmalı Resim Sergisi, Resim Heykel Müzesi / ANKARA
        </p>
        <p>
            <span style="color: #416c7d;">2000</span> - Görüntüsüz 800 Resim Entlasyon Sergisi, D.E.Ü.GSF, Resim Bölümü / İZMİR
        </p>
        <p>
            <span style="color: #416c7d;">1999</span> - Karma Resim Sergisi, Türk Amerikan Derneği / İZMİR
        </p>
    </div>
</div>

<hr style=" width: 80%; margin-top: 25px; border-top:black solid 2px">

{% include 'partials/footer.html' %}
