{% include 'partials/nav.html' %}
{% load static %}


    <section class="slider_section col-md-12">
      <div class="slider_container col-md-12">
          <div class="carousel-inner">
            {% for sliderImages in slider  %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="img-box">
                      <img src="{{ sliderImages.image.url }}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% include 'partials/footer.html' %}
</body>